# Feature pipeline: Computing the Features

In [23]:
import pandas as pd
from recsys.config import Settings
from recsys.utils.utils import IDConverter
from recsys.features import users, events, interactions, labels, BettingDataset
import pickle

In [24]:
settings = Settings()
SOURCE_DIR = settings.SOURCE_DATA_DIR
processed_dir = settings.PROCESSED_DATA_DIR

In [25]:
# Prepare data
user_df = pd.read_csv(SOURCE_DIR / 'users.csv')
event_df = pd.read_csv(SOURCE_DIR / 'events.csv')
interactions_df = pd.read_csv(SOURCE_DIR / 'bets.csv')

In [26]:
bet_events = set(interactions_df.event_id.to_list())
evnts = set(event_df.event_id.to_list())
list_of_events = evnts.union(bet_events)
event_id_converter = IDConverter()
for id in list_of_events:
    event_id_converter.convert(id)

### IDConverter class
The IDConverter class maintains bidirectional mappings between hex IDs and integers, allowing us to:

- Convert input IDs to integers for model training
- Convert back to original IDs when making recommendations
- Maintain data consistency throughout the pipeline

In [27]:
player_id_converter = IDConverter()
user_df['player_id'] = user_df['player_id'].apply(player_id_converter.convert)
brand_id_converter = IDConverter()
user_df['brand_id'] = user_df['brand_id'].apply(brand_id_converter.convert)
# bet_id, outcome_id, market_id
bet_id_converter = IDConverter()
interactions_df['bet_id'] = interactions_df['bet_id'].apply(bet_id_converter.convert)
outcome_id_converter = IDConverter()
interactions_df['outcome_id'] = interactions_df['outcome_id'].apply(outcome_id_converter.convert)
market_id_converter = IDConverter()
interactions_df['market_id'] = interactions_df['market_id'].apply(market_id_converter.convert)

event_df['event_id'] = event_df['event_id'].map(event_id_converter.id_to_int)
sport_id_converter = IDConverter()
event_df['sport_id'] = event_df['sport_id'].apply(sport_id_converter.convert)
league_id_converter = IDConverter()
event_df['league_id'] = event_df['league_id'].apply(league_id_converter.convert)

In [28]:
interactions_df.player_id = interactions_df.player_id.map(player_id_converter.id_to_int)
interactions_df.brand_id = interactions_df.brand_id.map(brand_id_converter.id_to_int)
interactions_df.event_id = interactions_df.event_id.map(event_id_converter.id_to_int)

In [29]:
user_df = user_df.drop_duplicates().copy(deep=True)
event_df = event_df.drop_duplicates().copy(deep=True)
interactions_df = interactions_df.drop_duplicates().copy(deep= True)
user_df.player_reg_date = user_df.player_reg_date.str[:19]

In [30]:
with open(processed_dir / 'user_df.pickle', 'wb') as handle:
    pickle.dump(user_df, handle, protocol=pickle.HIGHEST_PROTOCOL)

user_df.head()

   player_id  brand_id      player_reg_date language
0          1         1  2024-10-11 14:58:35      por
1          2         2  2024-09-10 17:48:46      tur
2          3         1  2024-10-31 09:24:57      por
3          4         1  2024-07-23 08:12:53      por
4          5         2  2023-05-02 07:56:13      tur

In [31]:
with open(processed_dir / 'events_df.pickle', 'wb') as handle:
    pickle.dump(event_df, handle, protocol=pickle.HIGHEST_PROTOCOL)

event_df.head()

,event_id,start_time,sport_id,league_id,home_team,away_team
0,97282,2024-10-13 17:00:00.000,1,1,Agafonov Mikhail,Sheikin Ivan
1,35626,2024-10-13 08:51:00.000,2,2,Uruguay,South Africa
2,11704,2024-10-15 08:30:00.000,3,3,Phnom Pehn Crown,Kampong Speu
3,50312,2024-10-16 04:01:00.000,2,2,Greece,France
4,5906,2024-10-13 06:21:00.000,2,4,SOU,AST

In [32]:
interactions_df.head()
with open(processed_dir / 'bets_df.pickle', 'wb') as handle:
    pickle.dump(interactions_df, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [33]:
user_features, user_array = users.process_user_features(users_df=user_df, bets_df=interactions_df)

In [34]:
user_features

,avg_stake,bet_count,avg_odds,win_rate,days_since_reg,language_encoded,brand_id_encoded
player_id,,,,,,,
1,2.569646,1357.0,5014.414133,0.0,111,2,0
2,249.732941,68.0,9.172113,0.0,142,3,1
3,15.198170,306.0,2.966623,0.0,91,2,0
4,6.128571,7.0,2.142857,0.0,191,2,0
5,76.553763,744.0,80.578826,0.0,639,3,1
...,...,...,...,...,...,...,...
1491,634.081676,716.0,3116.674177,0.0,1001,3,1
22078,0.000000,0.0,0.000000,0.0,264,2,0
22101,20.000000,1.0,2.940000,0.0,84,2,0
5340,2.000000,59.0,2285.891695,0.0,359,2,0
22102,2.000000,2.0,4.150000,0.0,114,3,1

In [35]:
event_features, event_array = events.process_event_features(events_df=event_df)

In [36]:
event_features

          time_to_event  sport_id_encoded  league_id_encoded
event_id
97282      -2623.830000                 0                  0
35626      -2631.980000                11                813
11704      -2584.330000                22                924
50312      -2564.813333                11                813
5906       -2634.480000                11               1035
...                 ...               ...                ...
54496      -2608.780000                11               1146
42372      -2634.996667                 0                312
61990      -2604.830000                 0               1479
33402      -2628.830000                44                851
83696      -2602.330000                 5               1435

[59387 rows x 3 columns]

In [37]:
valid_user_ids = users.get_valid_users(users_df=user_df)
valid_event_ids = events.get_valid_events(events_df=event_df)

In [38]:
map_interactions = interactions.process_interactions(bets_df=interactions_df, valid_user_ids=valid_user_ids, valid_event_ids=valid_event_ids)

In [39]:
map_interactions

{(569, 71195),
 (7211, 86212),
 (2884, 1444),
 (8034, 69283),
 (1902, 65857),
 (16405, 54079),
 (194, 46408),
 (282, 77554),
 (3056, 58302),
 (626, 22653),
 (251, 58993),
 (95, 45648),
 (751, 50648),
 (233, 90844),
 (559, 73109),
 (3867, 83592),
 (290, 78546),
 (3013, 16726),
 (3199, 44997),
 (1334, 37642),
 (2239, 22967),
 (5584, 15612),
 (1168, 64707),
 (1551, 75025),
 (3013, 84619),
 (1638, 48606),
 (300, 72067),
 (480, 28843),
 (397, 68967),
 (1914, 82432),
 (18708, 2761),
 (915, 50648),
 (498, 32832),
 (3886, 97955),
 (1164, 57768),
 (727, 51351),
 (10648, 6715),
 (1969, 50059),
 (1689, 70421),
 (447, 94344),
 (1084, 7265),
 (127, 73428),
 (3611, 26982),
 (745, 10428),
 (2764, 57096),
 (212, 61643),
 (773, 11695),
 (3787, 21731),
 (765, 57096),
 (368, 78371),
 (6112, 20588),
 (3721, 39578),
 (6360, 7858),
 (14901, 79267),
 (691, 35455),
 (167, 35455),
 (6841, 72641),
 (3998, 52129),
 (3956, 29272),
 (1630, 10942),
 (264, 42935),
 (2293, 67660),
 (5480, 21250),
 (137, 24666),
 (1819, 36478),
 (558, 32832),
 (9097, 26072),
 (13710, 54079),
 (969, 56495),
 (7891, 91531),
 (16707, 1129),
 (12383, 36981),
 (2896, 23980),
 (1819, 97955),
 (148, 24451),
 (174, 19256),
 (459, 35455),
 (893, 18943),
 (497, 18943),
 (710, 32822),
 (593, 60530),
 (7734, 7782),
 (1886, 39578),
 (2891, 75314),
 (899, 56106),
 (5262, 93737),
 (7065, 97208),
 (429, 91805),
 (2573, 84989),
 (8761, 66847),
 (178, 46143),
 (111, 80384),
 (1549, 43541),
 (290, 33552),
 (440, 24451),
 (10125, 18943),
 (1506, 27629),
 (333, 53601),
 (142, 37037),
 (2086, 10942),
 (969, 10428),
 (10, 70129),
 (1084, 15104),
 (16495, 11580),
 (1272, 1569),
 (635, 33937),
 (5480, 52875),
 (3013, 1129),
 (8372, 50648),
 (3796, 69283),
 (4636, 11580),
 (2551, 2761),
 (308, 28065),
 (1024, 62944),
 (828, 4911),
 (1058, 56112),
 (1911, 17892),
 (1196, 38326),
 (2613, 90780),
 (1018, 81596),
 (174, 15418),
 (162, 89717),
 (912, 19319),
 (308, 54079),
 (2265, 80648),
 (2223, 52129),
 (2835, 93044),
 (2278, 9957),
 (290, 45579),
 (1891, 52299),
 (8683, 15612),
 (3028, 30053),
 (3061, 13197),
 (3645, 42295),
 (6616, 82432),
 (2278, 52186),
 (309, 23348),
 (2560, 38286),
 (1808, 71670),
 (1403, 80252),
 (2106, 20588),
 (883, 430),
 (3581, 64352),
 (2819, 2710),
 (2697, 11580),
 (906, 86212),
 (2046, 52186),
 (198, 13509),
 (969, 2052),
 (1440, 1637),
 (7592, 87945),
 (13860, 13166),
 (912, 28313),
 (7725, 15104),
 (2177, 34360),
 (1164, 93044),
 (408, 23303),
 (3904, 49298),
 (8566, 65900),
 (2363, 30551),
 (3181, 52875),
 (1114, 21250),
 (604, 72641),
 (1333, 7782),
 (2393, 31891),
 (862, 11580),
 (1941, 73838),
 (461, 62914),
 (5595, 18943),
 (432, 86305),
 (36, 86305),
 (39, 20588),
 (287, 7858),
 (795, 23540),
 (15167, 15251),
 (4990, 7465),
 (2750, 49282),
 (449, 58366),
 (671, 43661),
 (1103, 27076),
 (7403, 84989),
 (218, 29571),
 (978, 77554),
 (162, 31891),
 (2959, 49806),
 (65, 44790),
 (3989, 15612),
 (2531, 28391),
 (838, 34914),
 (921, 86819),
 (19574, 1129),
 (5818, 42935),
 (8884, 99147),
 (1333, 48856),
 (563, 23540),
 (13582, 75025),
 (4438, 12213),
 (12814, 45648),
 (2278, 60375),
 (883, 11652),
 (329, 3896),
 (1, 66847),
 (8111, 49424),
 (633, 86537),
 (7715, 49424),
 (6908, 54808),
 (10077, 57585),
 (1270, 1710),
 (3315, 11884),
 (3415, 50961),
 (1114, 52875),
 (4011, 61572),
 (17017, 15104),
 (1351, 45648),
 (1185, 96849),
 (2573, 26708),
 (10945, 34360),
 (492, 86305),
 (596, 97208),
 (3766, 77956),
 (671, 68520),
 (7, 27415),
 (1593, 33103),
 (290, 39781),
 (1419, 73109),
 (970, 26708),
 (408, 8511),
 (8946, 34360),
 (10148, 2710),
 (4497, 48606),
 (293, 66847),
 (2046, 60375),
 (5616, 67660),
 (1729, 29177),
 (1244, 5750),
 (108, 96114),
 (2560, 26072),
 (480, 59476),
 (368, 24546),
 (10420, 11884),
 (1084, 11884),
 (7, 85859),
 (2421, 3282),
 (4548, 70421),
 (1208, 36271),
 (69, 61073),
 (440, 76292),
 (496, 49806),
 (1780, 77787),
 (468, 90391),
 (2549, 70421),
 (626, 49098),
 (61, 66847),
 (1149, 38293),
 (10872, 5750),
 (17244, 5630),
 (4213, 15612),
 (14176, 70421),
 (312, 14414),
 (876, 10026),
 (5987, 23980),
 (6247, 95769),
 (21, 76466),
 (1906, 53174),
 (7744, 7858),
 (2315, 51127),
 (361, 70118),
 (4582, 17549),
 (2317, 70421),
 (2765, 87550),
 (3858, 1276),
 (368, 13942),
 (1551, 35455),
 (3883, 15104),
 (285, 93693),
 (1751, 87945),
 (1277, 23552),
 (899, 60375),
 (413, 50279),
 (2273, 84085),
 (10863, 98790),
 (1185, 88473),
 (174, 30291),
 (1140, 36271),
 (21504, 50279),
 (311, 82432),
 (3967, 1569),
 (2166, 20802),
 (857, 60499),
 (2047, 59017),
 (824, 9812),
 (1014, 70282),
 (221, 13491),
 (3998, 39728),
 (413, 20077),
 (1404, 28588),
 (2004, 61572),
 (5714, 92249),
 (475, 50756),
 (3461, 16111),
 (2273, 34635),
 (2193, 87108),
 (2004, 77787),
 (2146, 15612),
 (1460, 40948),
 (6669, 45611),
 (1084, 48770),
 (9710, 73685),
 (2132, 1569),
 (807, 82612),
 (2736, 71670),
 (245, 15366),
 (6272, 21250),
 (3976, 37094),
 (2205, 84085),
 (1214, 67660),
 (14421, 53181),
 (2412, 29852),
 (704, 81329),
 (308, 81329),
 (921, 31571),
 (311, 15612),
 (11617, 50310),
 (251, 4981),
 (101, 54463),
 (6841, 78683),
 (17647, 11580),
 (2714, 10942),
 (2326, 98725),
 (844, 34542),
 (1316, 15104),
 (1168, 54079),
 (1103, 43104),
 (172, 92021),
 (1185, 22003),
 (940, 28588),
 (11041, 84085),
 (9911, 82612),
 (575, 82612),
 (16565, 53131),
 (8934, 59477),
 (1403, 10562),
 (715, 10942),
 (982, 67660),
 (6919, 44981),
 (3641, 1129),
 (2142, 10901),
 (65, 12523),
 (1494, 75190),
 (12853, 64637),
 (9005, 77787),
 (371, 62029),
 (1558, 56866),
 (181, 29852),
 (1846, 178),
 (556, 25565),
 (1143, 51928),
 (148, 50091),
 (69, 28106),
 (16911, 39781),
 (2579, 99147),
 (1860, 93044),
 (11022, 16111),
 (39, 16563),
 (4121, 32856),
 (4375, 46736),
 (1419, 82721),
 (407, 8853),
 (2293, 66481),
 (2193, 69283),
 (106, 63801),
 (2808, 49399),
 (7736, 99109),
 (14470, 25069),
 (932, 30551),
 (907, 52186),
 (357, 1569),
 (251, 10942),
 (1425, 34621),
 (1619, 37870),
 (2360, 46950),
 (3707, 92249),
 (41, 71670),
 (146, 36031),
 (1016, 52129),
 (559, 73353),
 (639, 3884),
 (6867, 59477),
 (883, 4244),
 (1583, 82721),
 (1636, 2761),
 (7971, 75190),
 (2671, 52669),
 (532, 88876),
 (14268, 34360),
 (17662, 50279),
 (136, 5892),
 (2502, 20588),
 (19156, 3919),
 (125, 1569),
 (1361, 55897),
 (174, 95769),
 (480, 51718),
 (2805, 34360),
 (8910, 49926),
 (1740, 2710),
 (287, 54706),
 (3441, 77554),
 (958, 1920),
 (2146, 13197),
 (6783, 57096),
 (1594, 90026),
 (269, 17913),
 (7387, 81154),
 (3883, 11884),
 (5786, 48770),
 (2889, 69120),
 (1595, 60800),
 (497, 71670),
 (2607, 15477),
 (828, 45611),
 (2565, 15251),
 (2030, 1129),
 (516, 79267),
 (4948, 73685),
 (10844, 2710),
 (1823, 43661),
 (366, 69120),
 (5298, 12213),
 (178, 34360),
 (1885, 31707),
 (2125, 7782),
 (2310, 13197),
 (137, 79621),
 (1471, 23207),
 (6515, 18943),
 (311, 13197),
 (1815, 45648),
 (572, 53131),
 (140, 93101),
 (1207, 7858),
 (866, 34360),
 (284, 79267),
 (2818, 1710),
 (7562, 26982),
 (1471, 71852),
 (4089, 87550),
 (1103, 98783),
 (7273, 20463),
 (2637, 38293),
 (14206, 2475),
 (157, 80623),
 (1978, 20163),
 (85, 72641),
 (403, 29351),
 (4676, 84085),
 (3441, 39781),
 (7435, 63801),
 (333, 11616),
 (603, 13197),
 (290, 7782),
 (4360, 56495),
 (718, 46890),
 (2265, 39818),
 (1237, 97470),
 (213, 93737),
 (3677, 3282),
 (921, 69880),
 (3402, 17572),
 (111, 87044),
 (1356, 49806),
 (15708, 67660),
 (7169, 61588),
 (63, 94143),
 (2440, 35096),
 (7243, 80196),
 (728, 60036),
 (2369, 23552),
 (1803, 20697),
 (2142, 89561),
 (582, 7782),
 (593, 17740),
 (191, 1710),
 (1532, 61524),
 (137, 46736),
 (227, 78709),
 (5042, 20463),
 (2344, 90449),
 (882, 73685),
 (1555, 65857),
 (2232, 36271),
 (1986, 32832),
 (682, 24578),
 (8353, 86305),
 (2370, 53174),
 (7891, 24955),
 (3799, 60376),
 (15872, 67660),
 (2440, 17726),
 (1050, 3282),
 (340, 73109),
 (5455, 1569),
 (1421, 12085),
 (1636, 9795),
 (3173, 73685),
 (85, 23541),
 (1491, 35455),
 (1414, 33545),
 (1124, 89406),
 (1255, 10103),
 (487, 85587),
 (3181, 11695),
 (2286, 14226),
 (3737, 3282),
 (2278, 32832),
 (14800, 73685),
 (2609, 84085),
 (575, 49190),
 (137, 26333),
 (751, 27724),
 (15373, 10942),
 (4325, 6835),
 (6214, 75314),
 (1, 36271),
 (1783, 35455),
 (2613, 18943),
 (5015, 46128),
 (5110, 30150),
 (70, 38293),
 (3867, 38387),
 (100, 94344),
 (1337, 15366),
 (329, 5750),
 (4488, 69996),
 (1219, 65857),
 (273, 12234),
 (2046, 32832),
 (218, 47990),
 (1650, 32832),
 (1650, 74711),
 (2517, 38833),
 (269, 50961),
 (4485, 56866),
 (3633, 70421),
 (1244, 83068),
 (157, 72597),
 (1860, 43407),
 (8638, 9266),
 (1343, 4981),
 (3441, 67218),
 (3942, 51928),
 (4202, 10942),
 (3806, 10942),
 (4582, 45872),
 (982, 49298),
 (329, 70610),
 (6736, 21250),
 (778, 18943),
 (710, 73685),
 (5555, 33775),
 (39, 70282),
 (14888, 49315),
 (906, 10992),
 (4733, 1129),
 (6012, 66481),
 (5616, 66481),
 (718, 11695),
 (174, 86133),
 (20297, 50279),
 (314, 57096),
 (269, 17726),
 (135, 83926),
 (186, 57096),
 (552, 30092),
 (1850, 87550),
 (9180, 35455),
 (16472, 64352),
 (374, 60530),
 (729, 12234),
 (1428, 75025),
 (1726, 23943),
 (5025, 1129),
 (573, 15104),
 (1746, 54366),
 (3335, 753),
 (552, 56106),
 (4897, 1129),
 (265, 46250),
 (891, 84619),
 (7015, 29309),
 (1449, 66453),
 (1761, 6379),
 (834, 84085),
 (5755, 68868),
 (2102, 35719),
 (518, 56495),
 (1328, 49130),
 (82, 57096),
 (111, 61998),
 (1501, 21731),
 (2317, 23980),
 (1196, 92021),
 (58, 90630),
 (497, 12234),
 (3315, 52129),
 (1594, 21141),
 (1187, 4013),
 (8791, 66770),
 (1676, 36257),
 (15012, 66481),
 (18345, 97208),
 (1594, 43772),
 (2755, 79267),
 (2720, 93044),
 (6792, 66770),
 (8, 54299),
 (1083, 25540),
 (1676, 39640),
 (693, 77787),
 (408, 61588),
 (13210, 4013),
 (149, 5485),
 (5298, 93101),
 (11642, 87550),
 (1333, 29852),
 (676, 20463),
 (2847, 98454),
 (492, 5824),
 (11424, 54079),
 (803, 84748),
 (2481, 23980),
 (606, 18943),
 (73, 9812),
 (307, 87550),
 (4383, 86305),
 (354, 27767),
 (4487, 97208),
 (1351, 4013),
 (480, 1276),
 (14297, 21250),
 (969, 95748),
 (6956, 66770),
 (6560, 66770),
 (1103, 3884),
 (1105, 81299),
 (10193, 77787),
 (1063, 10901),
 (5263, 5750),
 (407, 9284),
 (3064, 79621),
 (3918, 25788),
 (4533, 77554),
 (48, 82721),
 (3886, 20588),
 (11026, 85308),
 (461, 19319),
 (157, 82664),
 (3429, 38779),
 (1756, 86305),
 (839, 82469),
 (810, 29272),
 (7191, 39818),
 (148, 4455),
 (2600, 2710),
 (1084, 44558),
 (7999, 84085),
 (257, 93044),
 (7683, 56495),
 (2076, 2710),
 (1556, 88876),
 (687, 86212),
 (4047, 86305),
 (2750, 44533),
 (300, 79158),
 (2746, 11580),
 (2350, 11580),
 (1124, 99018),
 (578, 30053),
 (9654, 25026),
 (1141, 93737),
 (5088, 48513),
 (1860, 92670),
 (3252, 42650),
 (13183, 88876),
 (2720, 78252),
 (2085, 170),
 (5046, 35455),
 (6758, 75025),
 (857, 90945),
 (3514, 1710),
 (1140, 99147),
 (251, 42648),
 (504, 82721),
 (891, 1129),
 (1124, 59017),
 (1378, 66481),
 (257, 85473),
 (1521, 17740),
 (5059, 10026),
 (379, 80740),
 (1860, 52669),
 (4575, 49806),
 (487, 42366),
 (4291, 37215),
 (1819, 20588),
 (4373, 3282),
 (11007, 7858),
 (95, 90780),
 (1244, 95713),
 (3997, 13356),
 (715, 71240),
 (4589, 32893),
 (2792, 92249),
 (55, 36670),
 (10372, 99147),
 (11472, 2710),
 (329, 18745),
 (2847, 43661),
 (157, 88625),
 (671, 63771),
 (1696, 25069),
 (3185, 8193),
 (15955, 81605),
 (2339, 94344),
 (2964, 5750),
 (3867, 14414),
 (137, 2710),
 (1365, 94138),
 (2004, 32769),
 (6355, 27787),
 (807, 11580),
 (15732, 70421),
 (7240, 87550),
 (1073, 93737),
 (1906, 39781),
 (2369, 76466),
 (198, 62211),
 (9945, 93044),
 (3458, 64352),
 (433, 25110),
 (1494, 34360),
 (1098, 34360),
 (2560, 92249),
 (95, 34914),
 (1781, 66847),
 (437, 18813),
 (218, 72662),
 (257, 78252),
 (561, 92249),
 (6833, 24005),
 (5755, 78130),
 (2426, 66770),
 (2030, 66770),
 (575, 11580),
 (6560, 70421),
 (4948, 57096),
 (3787, 50648),
 (955, 40094),
 (2070, 39781),
 (10726, 34360),
 (251, 71240),
 (761, 59476),
 (645, 97208),
 (5731, 15104),
 (17662, 29852),
 (361, 42738),
 (21, 75100),
 (11765, 76466),
 (6071, 30606),
 (9615, 36670),
 (734, 96849),
 (9711, 43548),
 (157, 34987),
 (279, 36670),
 (3867, 84885),
 (413, 97208),
 (25, 39005),
 (198, 93836),
 (181, 7465),
 (2031, 82432),
 (1083, 70615),
 (397, 37830),
 (110, 66847),
 (3737, 79527),
 (222, 6715),
 (4157, 84085),
 (569, 16622),
 (487, 66770),
 (862, 59477),
 (4683, 70545),
 (3866, 15612),
 (357, 28982),
 (480, 46351),
 (9945, 78252),
 (269, 62346),
 (511, 32832),
 (287, 26708),
 (7, 59902),
 (111, 70805),
 (191, 49631),
 (162, 37559),
 (198, 44386),
 (2193, 50279),
 (2029, 20077),
 (1204, 35455),
 (671, 91558),
 (7873, 65881),
 (1242, 18943),
 (1963, 50756),
 (69, 80378),
 (9591, 66770),
 (1928, 87164),
 (1532, 87164),
 (3173, 57096),
 (308, 15103),
 (2091, 82432),
 (1039, 17833),
 (359, 11658),
 (11022, 2368),
 (763, 44730),
 (4434, 10942),
 (1866, 70421),
 (265, 8990),
 (3042, 48130),
 (5060, 49311),
 (3432, 15104),
 (6298, 24488),
 (11093, 68973),
 (6428, 34360),
 (1541, 44997),
 (186, 97528),
 (6836, 89805),
 (194, 20077),
 (1694, 84085),
 (356, 69831),
 (3502, 88654),
 (1196, 96640),
 (314, 41312),
 (2323, 15612),
 (6515, 71670),
 (2363, 37642),
 (1619, 53174),
 (3782, 84507),
 (233, 64513),
 (5485, 90780),
 (2586, 43541),
 (561, 83068),
 (74, 70118),
 (1185, 43268),
 (3898, 92037),
 (6298, 99147),
 (290, 91061),
 (8447, 8193),
 (9173, 50930),
 (891, 26956),
 (136, 97010),
 (329, 50638),
 (4288, 35976),
 (5714, 43661),
 (2721, 51471),
 (2091, 15612),
 (1333, 73317),
 (3946, 84507),
 (11262, 70421),
 (2982, 84989),
 (1106, 57096),
 (265, 50064),
 (710, 57096),
 (2565, 54341),
 (1914, 65900),
 (191, 73685),
 (1157, 1569),
 (3434, 63771),
 (251, 60904),
 (2736, 52129),
 (593, 28588),
 (1199, 76104),
 (13335, 98454),
 (1737, 1097),
 (6833, 7603),
 (1063, 57749),
 (880, 64458),
 (3633, 23980),
 (487, 70421),
 (9754, 20077),
 (2449, 71670),
 (2440, 12709),
 (174, 49141),
 (3199, 82721),
 (11007, 87591),
 (6710, 50930),
 (569, 14207),
 (480, 82432),
 (604, 71356),
 (2232, 99147),
 (2866, 66481),
 (2470, 66481),
 (287, 43541),
 (5468, 170),
 (304, 11465),
 (2736, 35109),
 (1351, 98351),
 (18920, 50756),
 (1812, 80252),
 (932, 60460),
 (4209, 71630),
 (140, 13693),
 (5931, 50037),
 (4374, 1710),
 (1928, 62118),
 (4554, 13197),
 (3850, 1710),
 (189, 753),
 (1751, 1129),
 (12814, 90780),
 (11552, 98213),
 (2541, 70454),
 (1463, 86864),
 (2124, 179),
 (290, 29852),
 (1, 99147),
 (419, 61753),
 (1103, 64637),
 (239, 66481),
 (2165, 93737),
 (1321, 28313),
 (2443, 59716),
 (955, 90780),
 (559, 90780),
 (2586, 34360),
 (1414, 69602),
 (4142, 1710),
 (379, 42325),
 (41, 52129),
 (373, 12709),
 (7771, 91805),
 (582, 29852),
 (4014, 77554),
 (293, 99147),
 (2096, 98454),
 (251, 23831),
 (1453, 2761),
 (407, 41340),
 (8496, 87550),
 (290, 91679),
 (97, 98454),
 (4291, 73109),
 (269, 15742),
 (8298, 15104),
 (1737, 93044),
 (883, 26932),
 (487, 26932),
 (397, 78717),
 (300, 7858),
 (2319, 64352),
 (407, 23970),
 (1906, 7782),
 (7635, 13447),
 (409, 36848),
 (5250, 82432),
 (145, 78092),
 (171, 66481),
 (6957, 62029),
 (2751, 85859),
 (6616, 65900),
 (413, 30551),
 (3272, 7465),
 (4059, 73109),
 (9276, 64104),
 (474, 44790),
 (167, 49743),
 (2434, 71630),
 (2518, 34360),
 (152, 42295),
 (497, 52129),
 (2239, 9281),
 (2070, 7782),
 (1244, 43661),
 (6957, 15612),
 (12736, 97208),
 (3796, 97208),
 (1919, 52875),
 (1885, 5750),
 (7059, 29852),
 (828, 52084),
 (2660, 14414),
 (1551, 77554),
 (3998, 32832),
 (1990, 96849),
 (6733, 37037),
 (2982, 26708),
 (397, 71496),
 (273, 73150),
 (773, 86305),
 (5580, 15366),
 (265, 14414),
 (2508, 60036),
 (9446, 35976),
 (1532, 23540),
 (408, 26019),
 ...}

- Added proper interaction matrix creation
- Created explicit user-event pairs for training

In [40]:
labelled_data = labels.create_labels(interactions=map_interactions, valid_user_ids=valid_user_ids, valid_event_ids=valid_event_ids)

In [41]:
user_array.shape[1]

7

In [42]:
dataset = BettingDataset(user_df=user_df, event_df=event_df, bets_df=interactions_df)

Dataset created with 180040 samples
Valid users: 22102
Valid events: 59387

In [43]:

with open(processed_dir / 'features_dataset.pickle', 'wb') as handle:
    pickle.dump(dataset, handle, protocol=pickle.HIGHEST_PROTOCOL)